# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build output
# =========================
bin/
obj/

# =========================
# App settings / secrets
# =========================
appsettings.json
appsettings.*.json

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/
